{
  "openapi": "3.1.0",
  "info": {
    "title": "Doppler API",
    "version": "3",
    "description": "Assembled from per-operation OpenAPI snippets in https://docs.doppler.com/llms.txt. Doppler does not publish a first-party OpenAPI document."
  },
  "servers": [
    {
      "url": "https://api.doppler.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [],
  "paths": {
    "/v1/share/secrets/encrypted": {
      "post": {
        "summary": "E2E Encrypted",
        "description": "Generate a Doppler Share link by sending an encrypted secret. The receive flow the user goes through will be end-to-end encrypted where the encrypted secret will be decrypted on the browser.",
        "operationId": "share-secret-encrypted",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "encrypted_secret",
                  "hashed_password",
                  "encryption_kdf",
                  "encryption_salt_rounds"
                ],
                "properties": {
                  "encrypted_secret": {
                    "type": "string",
                    "description": "Ecrypted secret using AES-GCM with a symmetric key derived from a cryptographically random 64 character passphrase using PBKDF2. 1,000,000 salt rounds required. Then base64 encode the encrypted secret.",
                    "default": "<BASE64 ENCODED, ENCRYPTED SECRET>"
                  },
                  "hashed_password": {
                    "type": "string",
                    "description": "SHA256 hash of the password. This is NOT the hash of the derived encryption key.",
                    "default": "<SHA256 HASH>"
                  },
                  "expire_views": {
                    "type": "integer",
                    "description": "Number of views before the link expires. Valid ranges: 1 to 50. -1 for unlimited.",
                    "default": 1,
                    "format": "int32"
                  },
                  "expire_days": {
                    "type": "integer",
                    "description": "Number of days before the link expires. Valid range: 1 to 90.",
                    "default": 1,
                    "format": "int32"
                  },
                  "encryption_kdf": {
                    "type": "string",
                    "description": "The key derivation function used. Must by \"pbkdf2\".",
                    "default": "pbkdf2"
                  },
                  "encryption_salt_rounds": {
                    "type": "integer",
                    "description": "Number of salt rounds used by KDF. Must be \"1000000\".",
                    "default": 1000000,
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"url\": \"https://share.doppler.com/s/oarjigpajqtodoqefoua9o1iisdfaocgfbulmaez#GZPgKEngtasgXHftCjimCwjPquZV7qwwzo8qb1m7rgvjlWXFr8C5jHOuXtxW1SBC\",\n  \"success\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "example": "https://share.doppler.com/s/oarjigpajqtodoqefoua9o1iisdfaocgfbulmaez#GZPgKEngtasgXHftCjimCwjPquZV7qwwzo8qb1m7rgvjlWXFr8C5jHOuXtxW1SBC"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/share/secrets/plain": {
      "post": {
        "summary": "Plain Text",
        "description": "Generate a Doppler Share link by sending a plain text secret. This endpoint is not end-to-end encrypted as you are sending the secret in plain text. At no point do we store the plain text secret or the password in our systems. The receive flow the user goes through will be end-to-end encrypted where the encrypted secret will be decrypted on the browser.",
        "operationId": "share-secret",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "secret"
                ],
                "properties": {
                  "secret": {
                    "type": "string",
                    "description": "Plain text secret to share.",
                    "default": "TEST SECRET"
                  },
                  "expire_views": {
                    "type": "integer",
                    "description": "Number of views before the link expires. Valid ranges: 1 to 50. -1 for unlimited.",
                    "default": 1,
                    "format": "int32"
                  },
                  "expire_days": {
                    "type": "integer",
                    "description": "Number of days before the link expires. Valid range: 1 to 90.",
                    "default": 1,
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"url\": \"https://share.doppler.com/s/oarjigpajqtodoqefoua9o1iisdfaocgfbulmaez\",\n  \"authenticated_url\": \"https://share.doppler.com/s/oarjigpajqtodoqefoua9o1iisdfaocgfbulmaez#GZPgKEngtasgXHftCjimCwjPquZV7qwwzo8qb1m7rgvjlWXFr8C5jHOuXtxW1SBC\",\n  \"password\": \"GZPgKEngtasgXHftCjimCwjPquZV7qwwzo8qb1m7rgvjlWXFr8C5jHOuXtxW1SBC\",\n  \"success\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "example": "https://share.doppler.com/s/oarjigpajqtodoqefoua9o1iisdfaocgfbulmaez"
                    },
                    "authenticated_url": {
                      "type": "string",
                      "example": "https://share.doppler.com/s/oarjigpajqtodoqefoua9o1iisdfaocgfbulmaez#GZPgKEngtasgXHftCjimCwjPquZV7qwwzo8qb1m7rgvjlWXFr8C5jHOuXtxW1SBC"
                    },
                    "password": {
                      "type": "string",
                      "example": "GZPgKEngtasgXHftCjimCwjPquZV7qwwzo8qb1m7rgvjlWXFr8C5jHOuXtxW1SBC"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/auth/oidc": {
      "post": {
        "summary": "OIDC (Service Account Identity)",
        "description": "Authenticate via a Service Account Identity with OIDC. Returns a short lived API token.",
        "operationId": "auth-oidc",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "identity"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "the OIDC token string from your OIDC provider (likely CI)"
                  },
                  "identity": {
                    "type": "string",
                    "description": "Identity ID from the Doppler Dashboard"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"token\": \"dp.said.bAqhcVzrhy5cRHkOlNTc0Ve6w5NUDCpcutm8vGE9myi\",\n  \"expires_at\": \"2025-01-17T16:46:46.171Z\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "example": "dp.said.bAqhcVzrhy5cRHkOlNTc0Ve6w5NUDCpcutm8vGE9myi"
                    },
                    "expires_at": {
                      "type": "string",
                      "example": "2025-01-17T16:46:46.171Z"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v3/auth/revoke": {
      "post": {
        "summary": "Revoke",
        "description": "Revoke an auth token",
        "operationId": "auth-revoke",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v3/configs": {
      "get": {
        "summary": "List",
        "description": "Fetch all configs.",
        "operationId": "configs-list",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "The project's name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "description": "(optional) the environment from which to list configs",
            "schema": {
              "type": "string",
              "default": "Environment slug"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"page\": 1,\n  \"configs\": [\n    {\n      \"name\": \"dev\",\n      \"root\": true,\n      \"locked\": true,\n      \"initial_fetch_at\": \"2019-11-19T07:36:12.000Z\",\n      \"last_fetch_at\": \"2019-11-19T07:32:10.980Z\",\n      \"created_at\": \"2019-11-19T07:19:00.480Z\",\n      \"environment\": \"dev\",\n      \"project\": \"ed0c2a68b6\"\n    },\n    {\n      \"name\": \"stg\",\n      \"root\": true,\n      \"locked\": true,\n      \"initial_fetch_at\": null,\n      \"last_fetch_at\": null,\n      \"created_at\": \"2019-11-19T07:19:00.488Z\",\n      \"environment\": \"stg\",\n      \"project\": \"ed0c2a68b6\"\n    },\n    {\n      \"name\": \"prd\",\n      \"root\": true,\n      \"locked\": true,\n      \"initial_fetch_at\": null,\n      \"last_fetch_at\": null,\n      \"created_at\": \"2019-11-19T07:19:00.495Z\",\n      \"environment\": \"prd\",\n      \"project\": \"ed0c2a68b6\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "configs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "dev"
                          },
                          "root": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "locked": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "initial_fetch_at": {
                            "type": "string",
                            "example": "2019-11-19T07:36:12.000Z"
                          },
                          "last_fetch_at": {
                            "type": "string",
                            "example": "2019-11-19T07:32:10.980Z"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2019-11-19T07:19:00.480Z"
                          },
                          "environment": {
                            "type": "string",
                            "example": "dev"
                          },
                          "project": {
                            "type": "string",
                            "example": "ed0c2a68b6"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create",
        "description": "Create a new branch config.",
        "operationId": "configs-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "project",
                  "environment",
                  "name"
                ],
                "properties": {
                  "project": {
                    "type": "string",
                    "description": "Unique identifier for the project object.",
                    "default": "PROJECT_NAME"
                  },
                  "environment": {
                    "type": "string",
                    "description": "Identifier for the environment object.",
                    "default": "ENVIRONMENT_ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the new branch config.",
                    "default": "CONFIG_NAME"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"config\": {\n    \"name\": \"prd_aws\",\n    \"root\": false,\n    \"locked\": false,\n    \"initial_fetch_at\": \"2019-11-19T07:32:12.000Z\",\n    \"last_fetch_at\": \"2019-11-19T07:36:10.980Z\",\n    \"created_at\": \"2019-11-19T07:19:00.480Z\",\n    \"environment\": \"prd\",\n    \"project\": \"ed0c2a68b6\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "config": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "prd_aws"
                        },
                        "root": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "locked": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "initial_fetch_at": {
                          "type": "string",
                          "example": "2019-11-19T07:32:12.000Z"
                        },
                        "last_fetch_at": {
                          "type": "string",
                          "example": "2019-11-19T07:36:10.980Z"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2019-11-19T07:19:00.480Z"
                        },
                        "environment": {
                          "type": "string",
                          "example": "prd"
                        },
                        "project": {
                          "type": "string",
                          "example": "ed0c2a68b6"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/configs/config": {
      "get": {
        "summary": "Retrieve",
        "description": "Fetch a config's details.",
        "operationId": "configs-get",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "Unique identifier for the project object.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "PROJECT_NAME"
            }
          },
          {
            "name": "config",
            "in": "query",
            "description": "Name of the config object.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "CONFIG_NAME"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"config\": {\n    \"name\": \"prd_aws\",\n    \"root\": false,\n    \"locked\": false,\n    \"initial_fetch_at\": \"2019-11-19T07:32:12.000Z\",\n    \"last_fetch_at\": \"2019-11-19T07:36:10.980Z\",\n    \"created_at\": \"2019-11-19T07:19:00.480Z\",\n    \"environment\": \"prd\",\n    \"project\": \"ed0c2a68b6\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "config": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "prd_aws"
                        },
                        "root": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "locked": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "initial_fetch_at": {
                          "type": "string",
                          "example": "2019-11-19T07:32:12.000Z"
                        },
                        "last_fetch_at": {
                          "type": "string",
                          "example": "2019-11-19T07:36:10.980Z"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2019-11-19T07:19:00.480Z"
                        },
                        "environment": {
                          "type": "string",
                          "example": "prd"
                        },
                        "project": {
                          "type": "string",
                          "example": "ed0c2a68b6"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Update",
        "description": "Modify an existing config.",
        "operationId": "configs-update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "project",
                  "config",
                  "name"
                ],
                "properties": {
                  "project": {
                    "type": "string",
                    "description": "Unique identifier for the project object.",
                    "default": "PROJECT_NAME"
                  },
                  "config": {
                    "type": "string",
                    "description": "Name of the config object.",
                    "default": "CONFIG_NAME"
                  },
                  "name": {
                    "type": "string",
                    "description": "The new name of config.",
                    "default": "CONFIG_NEW_NAME"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"config\": {\n    \"name\": \"prd_gcp\",\n    \"root\": false,\n    \"locked\": false,\n    \"initial_fetch_at\": \"2019-11-19T07:32:12.000Z\",\n    \"last_fetch_at\": \"2019-11-19T07:36:10.980Z\",\n    \"created_at\": \"2019-11-19T07:19:00.480Z\",\n    \"environment\": \"prd\",\n    \"project\": \"ed0c2a68b6\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "config": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "prd_gcp"
                        },
                        "root": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "locked": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "initial_fetch_at": {
                          "type": "string",
                          "example": "2019-11-19T07:32:12.000Z"
                        },
                        "last_fetch_at": {
                          "type": "string",
                          "example": "2019-11-19T07:36:10.980Z"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2019-11-19T07:19:00.480Z"
                        },
                        "environment": {
                          "type": "string",
                          "example": "prd"
                        },
                        "project": {
                          "type": "string",
                          "example": "ed0c2a68b6"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete",
        "description": "Permanently delete the config.",
        "operationId": "configs-delete",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "Unique identifier for the project.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "config",
            "in": "query",
            "description": "Name of the config.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/configs/config/clone": {
      "post": {
        "summary": "Clone",
        "description": "Create a new branch config by cloning another. This duplicates a branch config and all its secrets.",
        "operationId": "configs-clone",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "project",
                  "config",
                  "name"
                ],
                "properties": {
                  "project": {
                    "type": "string",
                    "description": "Unique identifier for the project object.",
                    "default": "PROJECT_NAME"
                  },
                  "config": {
                    "type": "string",
                    "description": "Name of the branch config being cloned.",
                    "default": "CONFIG_NAME"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the new branch config.",
                    "default": "NEW_CONFIG_NAME"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"config\": {\n    \"name\": \"prd_aws\",\n    \"root\": false,\n    \"locked\": false,\n    \"initial_fetch_at\": \"2019-11-19T07:32:12.000Z\",\n    \"last_fetch_at\": \"2019-11-19T07:36:10.980Z\",\n    \"created_at\": \"2019-11-19T07:19:00.480Z\",\n    \"environment\": \"prd\",\n    \"project\": \"ed0c2a68b6\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "config": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "prd_aws"
                        },
                        "root": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "locked": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "initial_fetch_at": {
                          "type": "string",
                          "example": "2019-11-19T07:32:12.000Z"
                        },
                        "last_fetch_at": {
                          "type": "string",
                          "example": "2019-11-19T07:36:10.980Z"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2019-11-19T07:19:00.480Z"
                        },
                        "environment": {
                          "type": "string",
                          "example": "prd"
                        },
                        "project": {
                          "type": "string",
                          "example": "ed0c2a68b6"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/configs/config/dynamic_secrets/dynamic_secret/leases": {
      "post": {
        "summary": "Issue Lease",
        "description": "Issue a lease for a dynamic secret",
        "operationId": "dynamic_secrets-issue_lease",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "project",
                  "config",
                  "dynamic_secret",
                  "ttl_sec"
                ],
                "properties": {
                  "project": {
                    "type": "string",
                    "description": "The project where the dynamic secret is located"
                  },
                  "config": {
                    "type": "string",
                    "description": "The config where the dynamic secret is located"
                  },
                  "dynamic_secret": {
                    "type": "string",
                    "description": "The name of the dynamic secret for which to issue this lease"
                  },
                  "ttl_sec": {
                    "type": "integer",
                    "description": "The number of seconds until this lease is automatically revoked",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"id\": \"59ed03c9-63a7-4789-9187-a3d858355353\",\n    \"expires_at\": \"2022-02-18T20:36:28.427Z\",\n    \"value\": {  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "id": {
                      "type": "string",
                      "example": "59ed03c9-63a7-4789-9187-a3d858355353"
                    },
                    "expires_at": {
                      "type": "string",
                      "example": "2022-02-18T20:36:28.427Z"
                    },
                    "value": {
                      "type": "object",
                      "properties": {}
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/configs/config/dynamic_secrets/dynamic_secret/leases/lease": {
      "delete": {
        "summary": "Revoke Lease",
        "description": "",
        "operationId": "dynamic_secrets-revoke_lease",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "project",
                  "config",
                  "dynamic_secret",
                  "slug"
                ],
                "properties": {
                  "project": {
                    "type": "string",
                    "description": "The project where the dynamic secret is located"
                  },
                  "config": {
                    "type": "string",
                    "description": "The config where the dynamic secret is located"
                  },
                  "dynamic_secret": {
                    "type": "string",
                    "description": "The name of the dynamic secret from which this lease was issued"
                  },
                  "slug": {
                    "type": "string",
                    "description": "The slug of the lease to revoke"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \"success\": true }"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/configs/config/inheritable": {
      "post": {
        "summary": "Inheritable",
        "description": "Update the inheritability of a config.",
        "operationId": "configs-inheritable",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "project",
                  "config",
                  "inheritable"
                ],
                "properties": {
                  "project": {
                    "type": "string",
                    "description": "Unique identifier for the project object.",
                    "default": "PROJECT_NAME"
                  },
                  "config": {
                    "type": "string",
                    "description": "Name of the config.",
                    "default": "CONFIG_NAME"
                  },
                  "inheritable": {
                    "type": "boolean",
                    "description": "Boolean determining if the config is inheritable or not.",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"config\": {\n    \"name\": \"prd_gcp\",\n    \"root\": false,\n    \"inheritable\": true,\n    \"inheriting\": false,\n    \"inherits\": [],\n    \"inheritedBy\": [],\n    \"locked\": false,\n    \"initial_fetch_at\": \"2022-03-04T17:09:41.098Z\",\n    \"last_fetch_at\": \"2024-12-06T16:57:34.288Z\",\n    \"created_at\": \"2022-02-02T22:33:34.200Z\",\n    \"environment\": \"prd\",\n    \"project\": \"ed0c2a68b6\",\n    \"slug\": \"541bfc63-5c7f-4f68-88f7-ea1105dac98f\"\n  },\n  \"success\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "config": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "prd_gcp"
                        },
                        "root": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "inheritable": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "inheriting": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "inherits": {
                          "type": "array"
                        },
                        "inheritedBy": {
                          "type": "array"
                        },
                        "locked": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "initial_fetch_at": {
                          "type": "string",
                          "example": "2022-03-04T17:09:41.098Z"
                        },
                        "last_fetch_at": {
                          "type": "string",
                          "example": "2024-12-06T16:57:34.288Z"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2022-02-02T22:33:34.200Z"
                        },
                        "environment": {
                          "type": "string",
                          "example": "prd"
                        },
                        "project": {
                          "type": "string",
                          "example": "ed0c2a68b6"
                        },
                        "slug": {
                          "type": "string",
                          "example": "541bfc63-5c7f-4f68-88f7-ea1105dac98f"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/configs/config/inherits": {
      "post": {
        "summary": "Inherits",
        "description": "",
        "operationId": "configs-inherits",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "project",
                  "config",
                  "inherits"
                ],
                "properties": {
                  "project": {
                    "type": "string",
                    "description": "Unique identifier for the project object of the config doing the inheriting.",
                    "default": "PROJECT_NAME"
                  },
                  "config": {
                    "type": "string",
                    "description": "Name of the config object doing the inheriting.",
                    "default": "CONFIG_NAME"
                  },
                  "inherits": {
                    "type": "array",
                    "description": "Array of objects indicating which configs are being inherited.",
                    "items": {
                      "properties": {
                        "project": {
                          "type": "string",
                          "description": "Unique identifier for the project object of the config being inherited.",
                          "default": "PROJECT_NAME"
                        },
                        "config": {
                          "type": "string",
                          "description": "Name of the config object being inherited.",
                          "default": "CONFIG_NAME"
                        }
                      },
                      "required": [
                        "project",
                        "config"
                      ],
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"config\": {\n    \"name\": \"prd_gcp\",\n    \"root\": false,\n    \"inheritable\": false,\n    \"inheriting\": true,\n    \"inherits\": [\n      {\n        \"project\": \"project1\",\n        \"config\": \"dev\"\n      },\n      {\n        \"project\": \"project2\",\n        \"config\": \"dev\"\n      }\n    ],\n    \"inheritedBy\": [],\n    \"locked\": false,\n    \"initial_fetch_at\": \"2022-03-04T17:09:41.098Z\",\n    \"last_fetch_at\": \"2024-12-06T16:57:34.288Z\",\n    \"created_at\": \"2022-02-02T22:33:34.200Z\",\n    \"environment\": \"prd\",\n    \"project\": \"ed0c2a68b6\",\n    \"slug\": \"541bfc63-5c7f-4f68-88f7-ea1105dac98f\"\n  },\n  \"success\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "config": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "prd_gcp"
                        },
                        "root": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "inheritable": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "inheriting": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "inherits": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "project": {
                                "type": "string",
                                "example": "project1"
                              },
                              "config": {
                                "type": "string",
                                "example": "dev"
                              }
                            }
                          }
                        },
                        "inheritedBy": {
                          "type": "array"
                        },
                        "locked": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "initial_fetch_at": {
                          "type": "string",
                          "example": "2022-03-04T17:09:41.098Z"
                        },
                        "last_fetch_at": {
                          "type": "string",
                          "example": "2024-12-06T16:57:34.288Z"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2022-02-02T22:33:34.200Z"
                        },
                        "environment": {
                          "type": "string",
                          "example": "prd"
                        },
                        "project": {
                          "type": "string",
                          "example": "ed0c2a68b6"
                        },
                        "slug": {
                          "type": "string",
                          "example": "541bfc63-5c7f-4f68-88f7-ea1105dac98f"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/configs/config/lock": {
      "post": {
        "summary": "Lock",
        "description": "Prevent the config from being renamed or deleted.",
        "operationId": "configs-lock",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "project",
                  "config"
                ],
                "properties": {
                  "project": {
                    "type": "string",
                    "description": "Unique identifier for the project object.",
                    "default": "PROJECT_NAME"
                  },
                  "config": {
                    "type": "string",
                    "description": "Name of the config.",
                    "default": "CONFIG_NAME"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"config\": {\n    \"name\": \"prd_aws\",\n    \"root\": false,\n    \"locked\": true,\n    \"initial_fetch_at\": \"2019-11-19T07:32:12.000Z\",\n    \"last_fetch_at\": \"2019-11-19T07:36:10.980Z\",\n    \"created_at\": \"2019-11-19T07:19:00.480Z\",\n    \"environment\": \"prd\",\n    \"project\": \"ed0c2a68b6\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "config": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "prd_aws"
                        },
                        "root": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "locked": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "initial_fetch_at": {
                          "type": "string",
                          "example": "2019-11-19T07:32:12.000Z"
                        },
                        "last_fetch_at": {
                          "type": "string",
                          "example": "2019-11-19T07:36:10.980Z"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2019-11-19T07:19:00.480Z"
                        },
                        "environment": {
                          "type": "string",
                          "example": "prd"
                        },
                        "project": {
                          "type": "string",
                          "example": "ed0c2a68b6"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/configs/config/logs": {
      "get": {
        "summary": "List",
        "description": "Config Logs",
        "operationId": "config_logs-list",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "Unique identifier for the project object.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "PROJECT_NAME"
            }
          },
          {
            "name": "config",
            "in": "query",
            "description": "Name of the config object.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "CONFIG_NAME"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"page\": 1,\n  \"logs\": [\n    {\n      \"id\": \"WaRMMyxHUg4lOKR\",\n      \"text\": \"Defaults were updated which resulted in this config's secrets being modified\",\n      \"html\": \"Defaults were updated which resulted in this config's secrets being modified\",\n      \"rollback\": false,\n      \"created_at\": \"2019-11-19T07:19:01.073Z\",\n      \"config\": \"dev\",\n      \"environment\": \"dev\",\n      \"project\": \"ed0c2a68b6t\",\n      \"user\": {\n        \"email\": \"jake@piedpiper.com\",\n        \"name\": \"Jake Sun\",\n        \"username\": \"jake\",\n        \"profile_image_url\": \"https://www.gravatar.com/avatar/84da5be2b398382c676bfca6b38dae41?s=500&d=retro\"\n      }\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "WaRMMyxHUg4lOKR"
                          },
                          "text": {
                            "type": "string",
                            "example": "Defaults were updated which resulted in this config's secrets being modified"
                          },
                          "html": {
                            "type": "string",
                            "example": "Defaults were updated which resulted in this config's secrets being modified"
                          },
                          "rollback": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2019-11-19T07:19:01.073Z"
                          },
                          "config": {
                            "type": "string",
                            "example": "dev"
                          },
                          "environment": {
                            "type": "string",
                            "example": "dev"
                          },
                          "project": {
                            "type": "string",
                            "example": "ed0c2a68b6t"
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "example": "jake@piedpiper.com"
                              },
                              "name": {
                                "type": "string",
                                "example": "Jake Sun"
                              },
                              "username": {
                                "type": "string",
                                "example": "jake"
                              },
                              "profile_image_url": {
                                "type": "string",
                                "example": "https://www.gravatar.com/avatar/84da5be2b398382c676bfca6b38dae41?s=500&d=retro"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/configs/config/logs/log": {
      "get": {
        "summary": "Retrieve",
        "description": "Config Log",
        "operationId": "config_logs-get",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "Unique identifier for the project object.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "PROJECT_NAME"
            }
          },
          {
            "name": "config",
            "in": "query",
            "description": "Name of the config object.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "CONFIG_NAME"
            }
          },
          {
            "name": "log",
            "in": "query",
            "description": "Unique identifier for the log object.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "LOG_ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"log\": {\n    \"id\": \"WaRMMyxHUg4lOKR\",\n    \"text\": \"Defaults were updated which resulted in this config's secrets being modified\",\n    \"html\": \"Defaults were updated which resulted in this config's secrets being modified\",\n    \"diff\": [\n      {\n        \"name\": \"STRIPE\",\n        \"added\": \"sk_test_9YxLnoLDdvOPn2dfjBVPB\"\n      },\n      {\n        \"name\": \"ALGOLIA\",\n        \"added\": \"N9TOPUBTO\"\n      }\n    ],\n    \"rollback\": false,\n    \"created_at\": \"2019-11-19T07:19:01.073Z\",\n    \"config\": \"dev\",\n    \"environment\": \"dev\",\n    \"project\": \"ed0c2a68b6\",\n    \"user\": {\n      \"email\": \"jake@piedpiper.com\",\n      \"name\": \"Jake Sun\",\n      \"username\": \"jake\",\n      \"profile_image_url\": \"https://www.gravatar.com/avatar/84da5be2b398382c676bfca6b38dae41?s=500&d=retro\"\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "log": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "WaRMMyxHUg4lOKR"
                        },
                        "text": {
                          "type": "string",
                          "example": "Defaults were updated which resulted in this config's secrets being modified"
                        },
                        "html": {
                          "type": "string",
                          "example": "Defaults were updated which resulted in this config's secrets being modified"
                        },
                        "diff": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "STRIPE"
                              },
                              "added": {
                                "type": "string",
                                "example": "sk_test_9YxLnoLDdvOPn2dfjBVPB"
                              }
                            }
                          }
                        },
                        "rollback": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2019-11-19T07:19:01.073Z"
                        },
                        "config": {
                          "type": "string",
                          "example": "dev"
                        },
                        "environment": {
                          "type": "string",
                          "example": "dev"
                        },
                        "project": {
                          "type": "string",
                          "example": "ed0c2a68b6"
                        },
                        "user": {
                          "type": "object",
                          "properties": {
                            "email": {
                              "type": "string",
                              "example": "jake@piedpiper.com"
                            },
                            "name": {
                              "type": "string",
                              "example": "Jake Sun"
                            },
                            "username": {
                              "type": "string",
                              "example": "jake"
                            },
                            "profile_image_url": {
                              "type": "string",
                              "example": "https://www.gravatar.com/avatar/84da5be2b398382c676bfca6b38dae41?s=500&d=retro"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/configs/config/logs/log/rollback": {
      "post": {
        "summary": "Rollback",
        "description": "Config Log",
        "operationId": "config_logs-rollback",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "Unique identifier for the project object.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "PROJECT_NAME"
            }
          },
          {
            "name": "config",
            "in": "query",
            "description": "Name of the config object.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "CONFIG_NAME"
            }
          },
          {
            "name": "log",
            "in": "query",
            "description": "Unique identifier for the log object.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "LOG_ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"log\": {\n    \"id\": \"koVGA1cgzkFnTHx\",\n    \"text\": \"Rolled back log WaRMMyxHUg4lOKR\",\n    \"html\": \"Rolled back log <a  href='https://doppler.internal:3030/workplace/2ada3/enclave/484/configs/2026/logs?id=WaRMMyxHUg4lOKR'>WaRMMyxHUg4lOKR</a>\",\n    \"diff\": [\n      {\n        \"name\": \"STRIPE\",\n        \"removed\": \"sk_test_9YxLnoLDdvOPn2dfjBVPB\"\n      },\n      {\n        \"name\": \"ALGOLIA\",\n        \"removed\": \"N9TOPUBTO\"\n      }\n    ],\n    \"rollback\": true,\n    \"created_at\": \"2019-11-24T02:25:54.761Z\",\n    \"config\": \"dev\",\n    \"environment\": \"dev\",\n    \"project\": \"ed0c2a68b6\",\n    \"user\": {\n      \"email\": \"jake@piedpiper.com\",\n      \"name\": \"Jake Sun\",\n      \"username\": \"jake\",\n      \"profile_image_url\": \"https://www.gravatar.com/avatar/84da5be2b398382c676bfca6b38dae41?s=500&d=retro\"\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "log": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "koVGA1cgzkFnTHx"
                        },
                        "text": {
                          "type": "string",
                          "example": "Rolled back log WaRMMyxHUg4lOKR"
                        },
                        "html": {
                          "type": "string",
                          "example": "Rolled back log <a  href='https://doppler.internal:3030/workplace/2ada3/enclave/484/configs/2026/logs?id=WaRMMyxHUg4lOKR'>WaRMMyxHUg4lOKR</a>"
                        },
                        "diff": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "STRIPE"
                              },
                              "removed": {
                                "type": "string",
                                "example": "sk_test_9YxLnoLDdvOPn2dfjBVPB"
                              }
                            }
                          }
                        },
                        "rollback": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2019-11-24T02:25:54.761Z"
                        },
                        "config": {
                          "type": "string",
                          "example": "dev"
                        },
                        "environment": {
                          "type": "string",
                          "example": "dev"
                        },
                        "project": {
                          "type": "string",
                          "example": "ed0c2a68b6"
                        },
                        "user": {
                          "type": "object",
                          "properties": {
                            "email": {
                              "type": "string",
                              "example": "jake@piedpiper.com"
                            },
                            "name": {
                              "type": "string",
                              "example": "Jake Sun"
                            },
                            "username": {
                              "type": "string",
                              "example": "jake"
                            },
                            "profile_image_url": {
                              "type": "string",
                              "example": "https://www.gravatar.com/avatar/84da5be2b398382c676bfca6b38dae41?s=500&d=retro"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/configs/config/secret": {
      "get": {
        "summary": "Retrieve",
        "description": "Secret",
        "operationId": "secrets-get",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "Unique identifier for the project object.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "PROJECT_NAME"
            }
          },
          {
            "name": "config",
            "in": "query",
            "description": "Name of the config object.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "CONFIG_NAME"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the secret.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "SECRET_NAME"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"name\": \"DATABASE\",\n  \"value\": {\n    \"raw\": \"${USER}@aws.dynamodb.com:9876\",\n    \"computed\": \"brian@aws.dynamodb.com:9876\",\n    \"note\": \"\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "DATABASE"
                    },
                    "value": {
                      "type": "object",
                      "properties": {
                        "raw": {
                          "type": "string",
                          "example": "${USER}@aws.dynamodb.com:9876"
                        },
                        "computed": {
                          "type": "string",
                          "example": "brian@aws.dynamodb.com:9876"
                        },
                        "note": {
                          "type": "string",
                          "example": ""
                        },
                        "rawVisibility": {
                          "type": "string",
                          "enum": [
                            "unmasked",
                            "masked",
                            "restricted"
                          ]
                        },
                        "computedVisibility": {
                          "type": "string"
                        },
                        "rawValueType": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "computedValueType": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete",
        "description": "Secret",
        "operationId": "secrets-delete",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "Unique identifier for the project object.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "PROJECT_NAME"
            }
          },
          {
            "name": "config",
            "in": "query",
            "description": "Name of the config object.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "CONFIG_NAME"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the secret.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "SECRET_NAME"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/configs/config/secrets": {
      "get": {
        "summary": "List",
        "description": "Secrets",
        "operationId": "secrets-list",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "Unique identifier for the project object.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "PROJECT_NAME"
            }
          },
          {
            "name": "config",
            "in": "query",
            "description": "Name of the config object.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "CONFIG_NAME"
            }
          },
          {
            "name": "accepts",
            "in": "header",
            "description": "Available options are: **application/json**, **text/plain**",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "include_dynamic_secrets",
            "in": "query",
            "description": "Whether or not to issue leases and include dynamic secret values for the config",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "dynamic_secrets_ttl_sec",
            "in": "query",
            "description": "The number of seconds until dynamic leases expire. Must be used with `include_dynamic_secrets`. Defaults to 1800 (30 minutes).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "secrets",
            "in": "query",
            "description": "A comma-separated list of secrets to include in the response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_managed_secrets",
            "in": "query",
            "description": "Whether to include Doppler's auto-generated (managed) secrets",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "secrets": {
                        "STRIPE": {
                          "raw": "sk_test_9YxLnoLDdvOPn2dfjBVPB",
                          "computed": "sk_test_9YxLnoLDdvOPn2dfjBVPB",
                          "note": "",
                          "rawVisibility": {
                            "type": "masked"
                          },
                          "computedVisibility": {
                            "type": "masked"
                          }
                        },
                        "ALGOLIA": {
                          "raw": "N9TOPUCTO",
                          "computed": "N9TOPUCTO",
                          "note": "",
                          "rawVisibility": {
                            "type": "masked"
                          },
                          "computedVisibility": {
                            "type": "masked"
                          }
                        },
                        "DATABASE": {
                          "raw": "${USER}@aws.dynamodb.com:9876",
                          "computed": "brian@aws.dynamodb.com:9876",
                          "note": "",
                          "rawVisibility": {
                            "type": "restricted"
                          },
                          "computedVisibility": {
                            "type": "restricted"
                          }
                        },
                        "USER": {
                          "raw": "brian",
                          "computed": "brian",
                          "note": "",
                          "rawVisibility": {
                            "type": "unmasked"
                          },
                          "computedVisibility": {
                            "type": "unmasked"
                          }
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "secrets": {
                      "type": "object",
                      "properties": {
                        "STRIPE": {
                          "type": "object",
                          "properties": {
                            "raw": {
                              "type": "string",
                              "example": "sk_test_9YxLnoLDdvOPn2dfjBVPB"
                            },
                            "computed": {
                              "type": "string",
                              "example": "sk_test_9YxLnoLDdvOPn2dfjBVPB"
                            },
                            "note": {
                              "type": "string",
                              "example": ""
                            },
                            "rawVisibility": {
                              "type": "object",
                              "example": "masked",
                              "properties": {
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "computedVisibility": {
                              "type": "object",
                              "example": "masked",
                              "properties": {
                                "type": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "ALGOLIA": {
                          "type": "object",
                          "properties": {
                            "raw": {
                              "type": "string",
                              "example": "N9TOPUCTO"
                            },
                            "computed": {
                              "type": "string",
                              "example": "N9TOPUCTO"
                            },
                            "note": {
                              "type": "string",
                              "example": ""
                            },
                            "rawVisibility": {
                              "type": "object",
                              "example": "masked",
                              "properties": {
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "computedVisibility": {
                              "type": "object",
                              "example": "masked",
                              "properties": {
                                "type": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "DATABASE": {
                          "type": "object",
                          "properties": {
                            "raw": {
                              "type": "string",
                              "example": "${USER}@aws.dynamodb.com:9876"
                            },
                            "computed": {
                              "type": "string",
                              "example": "brian@aws.dynamodb.com:9876"
                            },
                            "note": {
                              "type": "string",
                              "example": ""
                            },
                            "rawVisibility": {
                              "type": "object",
                              "example": "restricted",
                              "properties": {
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "computedVisibility": {
                              "type": "object",
                              "example": "restricted",
                              "properties": {
                                "type": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "USER": {
                          "type": "object",
                          "properties": {
                            "raw": {
                              "type": "string",
                              "example": "brian"
                            },
                            "computed": {
                              "type": "string",
                              "example": "brian"
                            },
                            "note": {
                              "type": "string",
                              "example": ""
                            },
                            "rawVisibility": {
                              "type": "object",
                              "example": "unmasked",
                              "properties": {
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "computedVisibility": {
                              "type": "object",
                              "example": "unmasked",
                              "properties": {
                                "type": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Update",
        "description": "Secrets",
        "operationId": "secrets-update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "project",
                  "config"
                ],
                "properties": {
                  "project": {
                    "type": "string",
                    "description": "Unique identifier for the project object.",
                    "default": "PROJECT_NAME"
                  },
                  "config": {
                    "type": "string",
                    "description": "Name of the config object.",
                    "default": "CONFIG_NAME"
                  },
                  "secrets": {
                    "type": "object",
                    "description": "Either `secrets` or `change_requests` is required (can't use both). Object of secrets you would like to save to the config. Try it with the sample secrets below.",
                    "properties": {
                      "STRIPE": {
                        "type": "string",
                        "default": "sk_test_9YxLnoLDdvOPn2dfjBVPB"
                      },
                      "ALGOLIA": {
                        "type": "string",
                        "default": "N9TOPUCTO"
                      },
                      "DATABASE": {
                        "type": "string",
                        "default": "${USER}@aws.dynamodb.com:9876"
                      }
                    }
                  },
                  "change_requests": {
                    "type": "array",
                    "description": "Either `secrets` or `change_requests` is required (can't use both). Object of secrets you would like to save to the config. Try it with the sample secrets below.",
                    "items": {
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The name of the secret."
                        },
                        "originalName": {
                          "type": "string",
                          "description": "The original name of the secret. Use `null` (an actual `null`, not the string `null`) or omit this parameter for new secrets. If it differs from `name` then a rename is inferred."
                        },
                        "value": {
                          "type": "string",
                          "description": "The value the secret should have. Use `null` (an actual `null`, not the string `null`) to leave the existing secret value unchanged."
                        },
                        "originalValue": {
                          "type": "string",
                          "description": "The value you expect the secret to have before `name` is applied. If specified, the request will only be processed if the provided value matches what's found in Doppler."
                        },
                        "visibility": {
                          "type": "string",
                          "description": "Must be set to either `masked`, `unmasked`, or `restricted`."
                        },
                        "originalVisibility": {
                          "type": "string",
                          "description": "Must be set to either `masked`, `unmasked`, or `restricted`. The visibility you expect the secret to have before `visibility` is applied. If specified, the request will only be processed if the provided visibility matches what's found in Doppler."
                        },
                        "shouldPromote": {
                          "type": "boolean",
                          "description": "Defaults to `false`. Can only be set to `true` if the config being updated is a branch config. If set to `true`, the provided secret will be set in both the branch config as well as the root config in that environment."
                        },
                        "shouldDelete": {
                          "type": "boolean",
                          "description": "Defaults to `false`. If set to `true`, will delete the secret matching the `name` field."
                        },
                        "shouldConverge": {
                          "type": "boolean",
                          "description": "Defaults to `false`. Can only be set to `true` if the config being updated is a branch config and there is a secret with the same name in the root config. In this case, the branch secret will inherit the value and visibility type from the root secret."
                        },
                        "valueType": {
                          "type": "object",
                          "description": "The default valueType (string) will result in no validations being applied.",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "string",
                                "json",
                                "json5",
                                "boolean",
                                "integer",
                                "decimal",
                                "email",
                                "url",
                                "uuidv4",
                                "cuid2",
                                "ulid",
                                "datetime8601",
                                "date8601",
                                "yaml"
                              ]
                            }
                          }
                        },
                        "originalValueType": {
                          "type": "object",
                          "description": "The valueType you expect the secret to have before `valueType` is applied. If specified, the request will only be processed if the provided valueType matches what's found in Doppler.",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "string",
                                "json",
                                "json5",
                                "boolean",
                                "integer",
                                "decimal",
                                "email",
                                "url",
                                "uuidv4",
                                "cuid2",
                                "ulid",
                                "datetime8601",
                                "date8601",
                                "yaml"
                              ]
                            }
                          }
                        }
                      },
                      "required": [
                        "name",
                        "originalName",
                        "value"
                      ],
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"secrets\": {\n    \"STRIPE\": {\n      \"raw\": \"sk_test_9YxLnoLDdvOPn2dfjBVPB\",\n      \"computed\": \"sk_test_9YxLnoLDdvOPn2dfjBVPB\",\n      \"note\": \"\"\n    },\n    \"ALGOLIA\": {\n      \"raw\": \"N9TOPUCTO\",\n      \"computed\": \"N9TOPUCTO\",\n      \"note\": \"\"\n    },\n    \"DATABASE\": {\n    \t\"raw\": \"${USER}@aws.dynamodb.com:9876\",\n      \"computed\": \"brian@aws.dynamodb.com:9876\",\n      \"note\": \"\"\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "secrets": {
                      "type": "object",
                      "properties": {
                        "STRIPE": {
                          "type": "object",
                          "properties": {
                            "raw": {
                              "type": "string",
                              "example": "sk_test_9YxLnoLDdvOPn2dfjBVPB"
                            },
                            "computed": {
                              "type": "string",
                              "example": "sk_test_9YxLnoLDdvOPn2dfjBVPB"
                            },
                            "note": {
                              "type": "string",
                              "example": ""
                            }
                          }
                        },
                        "ALGOLIA": {
                          "type": "object",
                          "properties": {
                            "raw": {
                              "type": "string",
                              "example": "N9TOPUCTO"
                            },
                            "computed": {
                              "type": "string",
                              "example": "N9TOPUCTO"
                            },
                            "note": {
                              "type": "string",
                              "example": ""
                            }
                          }
                        },
                        "DATABASE": {
                          "type": "object",
                          "properties": {
                            "raw": {
                              "type": "string",
                              "example": "${USER}@aws.dynamodb.com:9876"
                            },
                            "computed": {
                              "type": "string",
                              "example": "brian@aws.dynamodb.com:9876"
                            },
                            "note": {
                              "type": "string",
                              "example": ""
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/configs/config/secrets/download": {
      "get": {
        "summary": "Download",
        "description": "Download Secrets",
        "operationId": "secrets-download",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "Unique identifier for the project object. Not required if using a Service Token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "config",
            "in": "query",
            "description": "Name of the config object. Not required if using a Service Token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "dotnet-json",
                "env",
                "yaml",
                "docker",
                "env-no-quotes"
              ],
              "default": "json"
            }
          },
          {
            "name": "name_transformer",
            "in": "query",
            "description": "Transform secret names to a different case",
            "schema": {
              "type": "string",
              "enum": [
                "camel",
                "upper-camel",
                "lower-snake",
                "tf-var",
                "dotnet",
                "dotnet-env",
                "lower-kebab"
              ]
            }
          },
          {
            "name": "include_dynamic_secrets",
            "in": "query",
            "description": "Whether or not to issue leases and include dynamic secret values for the config",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "dynamic_secrets_ttl_sec",
            "in": "query",
            "description": "The number of seconds until dynamic leases expire. Must be used with `include_dynamic_secrets`. Defaults to 1800 (30 minutes).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1800
            }
          },
          {
            "name": "secrets",
            "in": "query",
            "description": "Comma-delimited list of secrets to include in the download. Defaults to all secrets if left unspecified.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"STRIPE\": \"sk_test_9YxLnoLDdvOPn2dfjBVPB\",\n  \"ALGOLIA\": \"N9TOPUCTO\",\n  \"DATABASE\": \"brian@aws.dynamodb.com:9876\",\n  \"USER\": \"brian\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "STRIPE": {
                      "type": "string",
                      "example": "sk_test_9YxLnoLDdvOPn2dfjBVPB"
                    },
                    "ALGOLIA": {
                      "type": "string",
                      "example": "N9TOPUCTO"
                    },
                    "DATABASE": {
                      "type": "string",
                      "example": "brian@aws.dynamodb.com:9876"
                    },
                    "USER": {
                      "type": "string",
                      "example": "brian"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/configs/config/secrets/names": {
      "get": {
        "summary": "List Names",
        "description": "Secret Names",
        "operationId": "secrets-names",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "Unique identifier for the project object.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "PROJECT_NAME"
            }
          },
          {
            "name": "config",
            "in": "query",
            "description": "Name of the config object.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "CONFIG_NAME"
            }
          },
          {
            "name": "include_dynamic_secrets",
            "in": "query",
            "description": "Whether or not to issue leases and include dynamic secret values for the config",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_managed_secrets",
            "in": "query",
            "description": "Whether to include Doppler's auto-generated (managed) secrets",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"names\": [\n    \"STRIPE\",\n    \"ALGOLIA\",\n    \"DATABASE\",\n    \"USER\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "names": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "STRIPE"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/configs/config/syncs": {
      "post": {
        "summary": "Create",
        "description": "Create a new secrets sync.",
        "operationId": "syncs-create",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "The project slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "config",
            "in": "query",
            "description": "The config slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration",
                  "data"
                ],
                "properties": {
                  "integration": {
                    "type": "string",
                    "description": "The integration slug which the sync will use"
                  },
                  "data": {
                    "type": "object",
                    "description": "Configuration data for the sync",
                    "properties": {}
                  },
                  "import_option": {
                    "type": "string",
                    "description": "An option indicating if and how Doppler should attempt to import secrets from the sync destination",
                    "default": "none",
                    "enum": [
                      "none",
                      "prefer_doppler",
                      "prefer_integration"
                    ]
                  },
                  "await_initial_sync": {
                    "type": "boolean",
                    "description": "Causes sync creation to wait for the initial sync to complete before returning.",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
[...]
